ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
  --adding-top: 20px;
  --padding-bottom: 20px;

  hr {
    border-top: 1px solid #dddddd;
  }
  .chat_item {
    --padding-start: 0;

    ion-avatar {
      width: 45px;
      height: 45px;
      margin-right: 10px;
    }
    ion-label {
      white-space: normal !important;

      h3 {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
      }
      p {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #b5b5b5;
      }
    }
  }
  .time {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #808080;
    padding-bottom: 15px;
  }
  .leftChat {
    display: grid;
    grid-template-columns: 70% 30%;

    padding: 5px 0;
    width: 100%;
    span {
      background: #4847cc;
      border-radius: 4px;
      font-size: 12px;
      line-height: 16px;
      color: #ffffff;
      padding: 6px;
    }
  }
  .rightChat {
    display: grid;
    grid-template-columns: 30% 70%;

    padding: 5px 0;
    width: 100%;
    span {
      background: #808080;
      border-radius: 4px;
      font-size: 12px;
      line-height: 16px;
      color: #ffffff;
      padding: 6px;
    }
  }
}
ion-footer {
  ion-toolbar {
    --padding-start: 20px;
  }
}
