ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-bottom: 20px;
  --padding-top: 20px;

  .title-card {
    background: var(--ion-color-primary);
    box-shadow: none;
    margin: 0;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #f1f1f1;
  }
  h4 {
    margin: 5px 0;
  }
  .desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #b5b5b5;
  }

  ion-button {
    text-transform: capitalize;
    --box-shadow: none;
    margin: 0;
  }
}
.textstory {
  background: #4847cc;
  border-radius: 12px;
  color: white;
  --placeholder-color: white;
  --placeholder-opacity: 1;
  height: 100px;
}
