<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Main Menu</ion-title>
    <ion-buttons slot="end">
      <ion-button id="add-deploy">
        <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-popover trigger="add-deploy" triggerAction="click">
  <ng-template>
    <ion-button class="add">Add a Deployment</ion-button>
  </ng-template>
</ion-popover>
<ion-content>
  <ion-textarea
    class="textstory"
    value="Ceebo Deployment #24 9/01/2022 Sprint 11"
  ></ion-textarea>
  <!-- <ion-card class="title-card">
    <span>Ceebo Deployment #24 9/01/2022 Sprint 11</span>
  </ion-card> -->
  <h4 class="common_subtitle">Documentation</h4>
  <p class="desc">
    Where we give an overview on all the stories that were deployed with batch
    mentioned above.
  </p>
  <h4 class="common_subtitle">Deployment Breakdown</h4>
  <ion-grid>
    <ion-row>
      <ion-col size="4"
        ><ion-button (click)="story01Click()"> Story 01 </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button (click)="story01Click()"> Story 02 </ion-button></ion-col
      >
      <ion-col size="4">
        <ion-button (click)="story01Click()"> Story 03 </ion-button></ion-col
      >
      <ion-col size="4">
        <ion-button (click)="story01Click()"> Story 04 </ion-button></ion-col
      >
      <ion-col size="4">
        <ion-button (click)="story01Click()"> Story 05 </ion-button></ion-col
      >
      <ion-col size="4">
        <ion-button (click)="story01Click()"> Story 06 </ion-button></ion-col
      >
    </ion-row>
  </ion-grid>
</ion-content>
