<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Deployment History</ion-title>
    <ion-buttons slot="end">
      <ion-button id="add-deploy">
        <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-popover trigger="add-deploy" triggerAction="click">
  <ng-template>
    <ion-button (click)="addClick()" class="add">Add a Deployment</ion-button>
  </ng-template>
</ion-popover>
<ion-content>
  <ion-item fill="clear" lines="none" class="search_item">
    <ion-icon slot="start" name="search"></ion-icon>
    <ion-input class="" type="search" placeholder="Search"> </ion-input>
  </ion-item>

  <h6 class="history">History</h6>
  <ng-container *ngFor="let item of [0,1,2,3,4,5,6,7,8,9,10,]; let i = index;">
    <ion-item
      (click)="deployClick(item)"
      class="deploy-item"
      [ngClass]="(i % 2 === 0) ? 'odd' : 'even'"
      lines="none"
    >
      <ion-label>Ceebo Deployment #24 9/01/2022 Sprint 11</ion-label>
    </ion-item>
  </ng-container>
</ion-content>
